<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Uptime Monitor</title>
</head>

<body>
  <header class="container margin-bottom-xl">
    <br>
    <div style="background:transparent !important" class="jumbotron d-flex justify-content-center">
      <img src="{% static 'monitor/media/logo.jpg' %}" alt="Logo"
        style="display: inline-block; vertical-align: middle; width: 140px;">
      <h1 style="display: inline-block; vertical-align: middle; color: rgb(30, 30, 73);" class="display-1 fw-bolder ">
        Uptime Monitor</h1>
      <p></p>
    </div>
    <br>
    <br>
  </header>

  <!-- <div class="alert alert-success" role="alert">
    <strong>Well done!</strong> You successfully read this important alert message.
  </div> -->

  <main class="container">
    <div class="page-header container">
      <div class="row">
        <div class="col-6">
          <h1 style="display: inline-block; vertical-align: middle; color: rgb(30, 30, 73);">Websites monitored</h1>
        </div>
        <div class="col-3"></div>
        <div class="col-3 align-self-end px-0">
          <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
            data-bs-target="#modal_add_site">Add
            Website</button>
          </button>
        </div>
      </div>
    </div>

    <div class="container px-0">
      {% if websites %}
      <table class="table table-striped mx-0">
        <thead>
          <tr>
            <th>#</th>
            <th>Website Name</th>
            <th>Website URL</th>
            <th class="text-center">Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="tbody-main">
          <!-- realtime AJAX generated -->
          <!-- <tr class="align-middle">
            <td class="fw-bold">1</td>
            <td class="fw-bold">Google</td>
            <td><a href="https://Google.com/" target='_blank' class='btn btn-outline-primary'>https://Google.com/</a>
            </td>
            <td class='text-center border rounded bg-success text-light'>UP</td>
            <td class="text-center"><button type="button" style="width: 80px !important"
                class="btn btn-outline-primary btn_edit">Edit</button></td>
            <td class="text-center"><button type="button" style="width: 80px !important"
                class="btn btn-outline-danger btn_delete">Delete</button></td>
          </tr> -->
        </tbody>
      </table>
      {% else %}
      <p>No records found</p>
      {% endif %}
    </div>
  </main>>

  <footer>
    <!-- ADD Modal -->
    <script>
      handleSubmit(e){
        e.preventDefault();
        e.target.reset();
      }
    </script>
    <div class="modal fade" id="modal_add_site" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a Website</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="row g-3 needs-validation" id="add-form" onSubmit={this.handleSubmit.bind(this)} novalidate>
            {% csrf_token %}
            <div class="modal-body">
              <div class="col-md-12">
                <label for="modal_add_site_name" class="form-label mt-2">Website Name</label>
                <input type="text" class="form-control" id="modal_add_site_name" placeholder="My Example Website"
                  required>
                <div class="invalid-feedback">
                  Please enter a valid name for the website
                </div>
              </div>
              <div class="col-md-12">
                <label for="modal_add_site_url" class="form-label mt-2">Website URL</label>
                <input type="url" class="form-control" id="modal_add_site_url"
                  placeholder="https://www.my_example_website.com/" required>
                <div class="invalid-feedback">
                  Please enter a valid website address
                </div>
              </div>
              <div class="col-md-12">
                <label for="modal_add_slack_token" class="form-label mt-2">Slack APP Token</label>
                <input type="text" class="form-control" id="modal_add_slack_token"
                  placeholder="xoxb-2503398942439-2525293310900-NZknad3D5oHl7TBOidT2837DQ" required>
                <div class="invalid-feedback">
                  Please enter a valid slack app authorisation token (https://api.slack.com/)
                </div>
              </div>
              <div class="col-md-12">
                <label for="modal_add_slack_channel" class="form-label mt-2">Slack Channel</label>
                <input type="text" class="form-control" id="modal_add_slack_channel" placeholder="#my-slack-channel"
                  required>
                <div class="invalid-feedback">
                  Please enter a valid slack channel (https://slack.com/)
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="col-auto">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save & Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- delete confirmation -->
    <div class="modal fade" id="modal_delete_site" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Delete Website</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="delete-form" method="POST">
            <div class="modal-body">
              {% csrf_token %}
              <p>Are you sure you wish to delete this row?</p>
              <span></span><input type="hidden" name="delete_modal_pk_website" id="delete_modal_pk_website" /><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>

  <script>
    //GET
    console.log('GET')
    $(document).ready(function () {
      setInterval(function () {
        $.ajax({
          type: 'GET',
          url: "{% url 'monitor-ajax_json' %}",
          success: function (response) {
            console.log("GET Success");
            $("#tbody-main").empty();
            for (var key in response.websites) {
              var status;
              if (response.websites[key].site_up_status == true) {
                status = "<td class='text-center border rounded bg-success text-light'>UP</td>"
              } else {
                status = "<td class='text-center border rounded bg-danger text-light'>DOWN</td>"
              }
              var tbl_html = "<tr class='align-middle'>" +
                "<td class='fw-bold'>" + (parseInt(key) + 1).toString() + "</td>" +
                "<td class='fw-bold'>" + response.websites[key].site_name + "</span></td>" +
                "<td><a href='" + response.websites[key].site_url + "' target='_blank' class='btn btn-outline-primary'>" + response.websites[key].site_url + "</a ></td >" +
                status +
                "<td class='text-center'><button type='button' class='btn btn-outline-primary btn_edit' data-toggle='modal' data-target='#modal_edit_site'>Edit</button></td>" +
                "<td class='text-center'><button type='button' class='btn btn-outline-danger btn_delete' data-toggle='modal' data-target='#modal_delete_site'>Delete</button></td>" +
                "</tr>"

              $("#tbody-main").append(tbl_html)
            }
          },
          error: function (response) {
            console.log("GET An error occured");
          }
        });
      }, 1000);
    });

    //POST-ADD
    console.log("Adding")
    $(document).on('submit', '#add-form', function (e) {
      e.preventDefault();

      $.ajax({
        type: 'POST',
        url: "ajax_create/",
        data: {
          site_name: $('#modal_add_site_name').val(),
          site_url: $('#modal_add_site_url').val(),
          slack_token: $('#modal_add_slack_token').val(),
          slack_channel: $('#modal_add_slack_channel').val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function (data) {
          //dismis & clear modal after success
          $('#modal_add_site').modal('hide');
          $('#modal_add_site_name').val("")
          $('#modal_add_site_url').val("")
          $('#modal_add_slack_token').val("")
          $('#modal_add_slack_channel').val("")
          console.log("New record added" + data);
        },
        error: function (data) {
          console.log("An error occured");
        }
      });
    });

    //POST-EDIT
    console.log("Editing")
    $(document).on('submit', '#edit-form', function (e) {
      e.preventDefault();

      $.ajax({
        type: 'POST',
        url: "ajax_edit/",
        data: {
          pk_website: $('#edit_modal_pk_website').val(),
          site_name: $('#edit_modal_site_name').val(),
          site_url: $('#edit_modal_site_url').val(),
          slack_token: $('#edit_modal_slack_token').val(),
          slack_channel: $('#edit_modal_slack_channel').val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function (data) {
          //dismis & clear modal after success
          $('#modal_edit_site').modal('hide');
          console.log("Record edited" + data);
        },
        error: function (data, error) {
          console.log("An error occured:" + error);
        }
      });
    });

    //POST-DELETE
    console.log("Delete")
    $(document).on('submit', '#delete-form', function (e) {
      e.preventDefault();

      $.ajax({
        type: 'POST',
        url: "ajax_delete/",
        data: {
          pk_website: $('#delete_modal_pk_website').val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function (data) {
          //dismis & clear modal after success
          $('#modal_delete_site').modal('hide');
          console.log(data);
        },
        error: function (data, error) {
          console.log("An error occured:" + error);
        }
      });
    });
  </script>
  <script>
    // Modal validation script
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

</body>

</html>