<!doctype html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Uptime Monitor</title>
</head>

<body>
    <!-- <div class="container-lg shadow p-3 bg-white rounded min-vh-100"> -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'monitor/media/logo.jpg' %}" alt="Logo" class="img-responsive"
                        style="min-width:100px; max-width:150px;">
                </div>
                <div class="col-10">
                    <h1 class="my-3">Uptime Monitor</h1>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h4>Monitored Sites:</h4>
                </div>
                <div class="col-6 text-end">
                    <a id="a_add" href="{% url 'monitor-home-add' %}" type="button"
                        class="btn btn-outline-primary w-50">Add Site django</a>
                </div>
            </div>
        </div>
        <div>
            {% if websites %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Site Name</th>
                        <th scope="col">Site URL</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for website in websites %}
                    <tr class="align-middle">
                        <th scope="row">{{ website.row_number }}</th>
                        <td><span class="fw-bold">{{ website.site_name }}</span></td>
                        <td><a href={{ website.site_url }} target="_blank" class="btn btn-outline-primary">
                                {{ website.site_url }}</a>
                        </td>
                        {% if website.site_up_status == True %}
                        <td class="text-center border rounded bg-success text-light">UP</td>
                        {% else %}
                        <td class="text-center border rounded bg-danger text-light">DOWN</td>
                        {% endif %}
                        </td>
                        <td class="text-center">
                            <a id="a_edit_tbl" href="{% url 'monitor-home-edit' pk=website.pk %}" type="button"
                                class="btn btn-outline-primary">Edit</a>
                        </td>
                        <td class="text-center">
                            <a id="a_delete_tbl" href="{% url 'monitor-home-delete' pk=website.pk %}" type="button"
                                class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No records found</p>
            {% endif %}
        </div>
        <a class="btn btn-outline-primary w-100" href="{% url 'monitor-home' %}">Refresh</a>
    </main>
    <!-- </div> -->

    <!-- add/edit site model -->
    <div class="modal fade" id="btn_add_site" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add/Edit Website</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <fieldset class="form-group">
                            {{ add_form.as_p }}
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                        <button type="submit" class="btn btn-primary">Create/Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- delete confirmation -->
    <div class="modal fade" id="btn_delete_site" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete Website</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you wish to delete this row?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <h1>List of live data:</h1>
    <ul id="display_data">

    </ul>


    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'monitor-ajax_get' %}",
                    success: function (response) {
                        //console.log(response);
                        $("#display_data").empty();
                        for (var key in response.websites) {
                            var temp = "<li>" + response.websites[key].site_name + "</li>"
                            $("#display_data").append(temp)
                        }
                    },
                    error: function (response) {
                        console.log("An error occured");
                    }
                });
            }, 1000);
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'monitor/js/myscript.js' %}"></script>
</body>

</html>