<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Uptime Monitor</title>
</head>



<body>
    <!-- <div class="container-lg shadow p-3 bg-white rounded min-vh-100"> -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'monitor/media/logo.jpg' %}" alt="Logo" class="img-responsive"
                        style="min-width:100px; max-width:150px;">
                </div>
                <div class="col-10">
                    <h1 class="my-3">Uptime Monitor</h1>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h4>Monitored Sites:</h4>
                </div>
                <div class="col-6 text-end">
                    <button id='btn_add' type="button" class="btn btn-outline-primary w-100 my-2" data-toggle="modal"
                        data-target="#modal_add_site">
                        Add Site
                    </button>
                </div>
            </div>
        </div>
        <div>
            {% if websites %}
            <table id="table-main" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Site Name</th>
                        <th scope="col">Site URL</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="tbody-main">
                    <tr id="tr-main" class="align-middle">

                    </tr>
                </tbody>
            </table>
            {% else %}
            <p>No records found</p>
            {% endif %}
        </div>
    </main>
    <!-- </div> -->


    <!-- Modal -->
    <div class="modal fade" id="modal_add_site" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="post-form" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        <p>site_name</p><input type="text" name="site_name" id="add_edit_modal_site_name" /><br>
                        <p>site_url</p><input type="url" name="site_url" id="add_edit_modal_site_url" /><br>
                        <p>slack_token</p><input type="text" name="slack_token" id="add_edit_modal_slack_token" /><br>
                        <p>slack_channel</p><input type="text" name="slack_channel"
                            id="add_edit_modal_slack_channel" /><br>
                        <span></span><input type="hidden" name="pk_website" id="add_edit_modal_pk_website" /><br>
                        <span></span><input type="hidden" name="add_edit_modal" id="add_edit_modal" /><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- delete confirmation -->
    <div class="modal fade" id="modal_delete_site" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete Website</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Are you sure you wish to delete this row?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <h1>Submit Form</h1>
    <form id="post-form" method="POST">
        {% csrf_token %}
        <p>site_name</p><input type="text" name="site_name" id="site_name" /><br>
        <p>site_url</p><input type="url" name="site_url" id="site_url" /><br>
        <p>slack_token</p><input type="text" name="slack_token" id="slack_token" /><br>
        <p>slack_channel</p><input type="text" name="slack_channel" id="slack_channel" /><br>
        <input type="submit" />
    </form> -->

    <script>
        //GET
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'monitor-ajax_json' %}",
                    success: function (response) {
                        $("#tbody-main").empty();
                        for (var key in response.websites) {
                            var status;
                            if (response.websites[key].site_up_status == true) {
                                status = "<th class='text-center border rounded bg-success text-light'>UP</th>"
                            } else {
                                status = "<th class='text-center border rounded bg-danger text-light'>DOWN</th>"
                            }
                            var tbl_html = "<tr id='tr-main' class='align-middle'>" +
                                "<th scope='row'>" + response.websites[key].row_number + "</th>" +
                                "<td><span class='fw-bold'>" + response.websites[key].site_name + "</span></td>" +
                                "<td><a href='" + response.websites[key].site_url + "' target='_blank' class='btn btn-outline-primary'>" + response.websites[key].site_url + "</a ></td >" +
                                status +
                                "<td class='text-center'><button type='button' class='btn btn-outline-primary btn_edit' data-toggle='modal' data-target='#modal_add_site'>Edit</button></td>" +
                                "<td class='text-center'><button type='button' class='btn btn-outline-danger btn_delete' data-toggle='modal' data-target='#modal_delete_site'>Delete</button></td>" +
                                "</tr>"

                            $("#tbody-main").append(tbl_html)
                        }
                    },
                    error: function (response) {
                        console.log("An error occured");
                    }
                });
            }, 1000);
        });
    </script>
    <script>
        //POST-ADD
        var add_edit_modal = $('#add_edit_modal').val()
        if (add_edit_modal == 'ADD') {
            console.log("Adding")
            $(document).on('submit', '#post-form', function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: "ajax_create/",
                    data: {
                        site_name: $('#site_name').val(),
                        site_url: $('#site_url').val(),
                        slack_token: $('#slack_token').val(),
                        slack_channel: $('#slack_channel').val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (data) {
                        console.log("An error occured");
                    }
                });
            });
        }
    </script>
    <script>
        //POST-EDIT
        var add_edit_modal = $('#add_edit_modal').val()
        if (add_edit_modal == 'EDIT') {
            console.log("Editing")
            $(document).on('submit', '#post-form', function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: "ajax_edit/",
                    data: {
                        pk_website: $('#pk_website').val(),
                        site_name: $('#site_name').val(),
                        site_url: $('#site_url').val(),
                        slack_token: $('#slack_token').val(),
                        slack_channel: $('#slack_channel').val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (data, error) {
                        console.log("An error occured:" + error);
                    }
                });
            });
        }
    </script>

    <!-- <script>
        $(document).ready(function () {
            $(".btn_edit").on('click', function () {
                var btn_id = this.id; // button ID 
                var tr_id = $(this).closest('tr').attr('id'); // table row ID 
                console.log("btn_id")
                console.log("tr_id")
            });
        });
    </script> -->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{% static 'monitor/js/myscript.js' %}"></script>
</body>

</html>